@media (max-width: 800px) {
  a.ButtonLink {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-logo);
    color: var(--black);
    border-radius: 0;
    border: 0;
    text-align: center;
  }
}
